body { 
    background: url("mountains.jpg") center fixed no-repeat; 
    background-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

header {
    background: rgba(0,0,0,.32);
    height: 32px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
}

.planDiv {
    background-color: rgba(255, 255, 255, 0.158);
    height: auto;
    margin: 6px;
    padding: 6px;
}

.listDiv {
    display: flex;
}

.list {
    background-color: rgba(255, 255, 255, 0.555);
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    height: max-content;
    width: 300px;
    margin: 6px;
    padding: 6px;
}

.taskCard {
    box-sizing: border-box;
}

.task {
    background-color: rgba(255, 255, 255, 0.685);
    transition: background 200ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

.task:hover {
    background-color:rgba(255, 255, 255, 0.329);
}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    margin: 20px;
}

h2 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 4px;
}

h3 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    margin: 4px;
}

.delete {
    display: inline-block;
    cursor: pointer;
}

.edit {
    display: inline-block;
    cursor: pointer;
}

.add {
    background-color: transparent;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #5e6c84;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    margin-left: 14px;
    margin-bottom: 4px;
    padding: 8px;
    cursor: pointer;
}
