*:focus {
    outline: none;
}

body { 
    background: url("mountains.jpg") center fixed no-repeat; 
    background-size: 100% 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

nav {
    background: rgba(0,0,0,.32);
    box-sizing: border-box;
    height: 50px;
    padding: 4px;
    margin-top: -10px;

}

.planDiv {
    padding: 0 6px;
}

.listDiv {
    display: flex;
}

.list {
    background-color: rgba(255, 255, 255, 0.555);
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    height: max-content;
    width: 300px;
    margin: 6px;
    padding: 6px;
}

.taskCard {
    box-sizing: border-box;
    min-height: 2rem;
}

.task {
    background-color: rgba(255, 255, 255, 0.685);
    transition: background 200ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

.task:hover {
    background-color:rgba(255, 255, 255, 0.329);
}

p {
    font-family: 'Indie Flower', cursive;
    color: rgba(0,0,0,.32);
    font-size: 38px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 26px;
    text-align: center;

}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: white;
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 26px;
}

h2 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    margin-left: 22px;
    margin-top: 4px;
}

h3 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 4px;    
}

.buttons {
    display: flex;
}

.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    size: 14px;
}

.add {
    background-color: transparent;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #5e6c84;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    margin-left: 14px;
    margin-bottom: 4px;
    padding: 6px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    width: 100px;
    background-color: rgba(0,0,0,.32);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover:after {
    display:none;
    
}

.addForm {
    display: none;
    background-color: rgba(255, 255, 255, 0.555);
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    height: max-content;
    width: 300px;
    margin: 6px;
    padding: 6px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}

.input {
    background-color: rgba(255, 255, 255, 0.685);
    transition: background 200ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;    border-radius: 3px;
    display: flex;
    width: 85%;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin: 8px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.addButton {
    background-color: rgba(255, 255, 255, 0.527);
    transition: background 200ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;    border-radius: 3px;
    color: #5e6c84;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border: none;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
    width: 93%;
}

.addButton:hover {
    background-color:rgba(255, 255, 255, 0.726);
}

.name {
    margin: 12px;
    font-weight: 500;
}

.something {
    color: #172b4d;
    margin-top: 18px;
    margin-left: 14px;
    margin-bottom: 20px;
    font-weight: 450;
}